body {
  font-family: "Open Sans"
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#home-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-title {
  margin: 0;
  text-align: center;
}

.footer__content {
  font-size: .7rem;
  color: #666;
}
