<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        {{ partial "header.html" . }}
        <section id="home-container" class="container">
            <div id="home-content" class="content">
                <main aria-role="main">
                    <div id="home-center">
                        <h1 id="home-title">{{ .Site.Params.homeTitle }}</h1>

                        {{- with .Site.Params.homeSubtitle }}
                        <p>{{.}}</p>
                        {{- end }}

                        {{- with .Site.Params.social }}
                        <div>
                            {{ partial "social-icons.html" . }}
                        </div>
                        {{- end }}
                    </div>
                </main>
            </div>
        </section>
        {{ partial "javascript.html" . }}
    </body>
</html>
